body {
    text-align: center;
}

.postbox {
    width: 300px;
    height: 300px;
    display:grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "message"
    "user"
}

.posttitle {
    grid-area: title;
}

.postmessage {
    grid-area: message;
}

.postuser {
    grid-area: user;
}